
<footer class="footer"> <p>Copyright &copy; <span id="currentYear"></span> Designed by <span class="designer">Mohit</span></p></footer>

<script>
    const span =document.querySelector('#currentYear');
    const date = new Date();
    const year =date.getFullYear();

    span.textContent=year;


</script>
</body>
</html>